<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <title>{{ pageTitle }} | Impact Report 2023 | College of Education | U of I</title>
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="article il-formatted">
        {% if imagesrc %}
        <img class="full" src="{{ imagesrc }}" alt="{{ imagealt }}">
        {% endif %}
        <h1>{{ pageTitle | transformTitle: titleStart, titleEnd }}</h1>
        {% if byline %}
        <p class="byline">{{ byline }}</p>
        {% endif %}
        {{ content }}
        </main>
        {% include sidenav.liquid %}
    </body>
</html>