<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <title>{{ pageTitle }} | Impact Report 2023 | College of Education | U of I</title>
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="numbers il-formatted">
        <h1 class="numbers-width">{{ pageTitle | transformTitle: titleStart, titleEnd }} </h1>
        <div class="numbers-width number-grid">
        <p class="tagline">{{ tagline }} </p>
        </div>
        <h2><div class="numbers-width">2022 By The Numbers</div></h2>
        <ul class="numbers-width stats no-bullets">
        {% for stat in stats %}
            <li>{{ stat | transformStat }}</li>
        {% endfor %}
        </ul>
        <h2><div class="numbers-width">Our Programs</div></h2>
        <div class="numbers-width">
        <a href="{{ link }}" class="il-button" style="float: right; margin-left: 50px;">Explore Our Programs</a>
        {{ content }}
        </div>
        </main>
    </body>
</html>