<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="article il-formatted">
        <div style="display: flex; align-items: center;">
        <h1>{{ pageTitle | transformTitle: titleStart, titleEnd }}</h1>
        <img src="/img/{{ headerimg }}" alt="{{ headerimgalt }}" style="padding-left: 50px;">
        </div>        
        {{ content }}
        </main>
    </body>
</html>